<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css"> <!-- css dahil edildi -->
</head>
<body>

    <!-- 
        /forget rotasında render işlemlerinde aşağıdaki yapı çalışır
     -->
    <table border="1">
        <form action="/forget" method="POST"> <!-- buton tıklandığında post işlemi gerçekleşir -->
            <tr>
                <th colspan="2"> <!-- Başlık yapısı oluşturuldu -->
                    Reset Password
                </th>
            </tr>
            <% if (hata) { %>
                <% if (hata.length > 0) { %> <!-- Oluşan hata string tipinde ise burası çalışır -->
                    <tr class="alert"> <!-- Hata mesajı css leri için alert sınıfı kullanılır -->
                        <td colspan="2">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                            <strong>
                                <%= hata %>  
                            </strong>
                          </td>
                    </tr>
                <% } else { %>
                    <% for( let key in hata) { %> <!-- Oluşan hata obje tipinde ise burası çalışır -->
                        <tr class="alert">
                            <td colspan="2">
                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                                <strong>
                                    <%- key %> <%- hata[key] %> 
                                </strong>
                              </td>
                        </tr>
                    <% } %>
                <% } %> 


            <% } %>
                <% if (basarili) { %> <!-- Parola başarılı şekilde değiştirilirse aşağıdaki yapı çalışır -->
                    <tr class="alert2">
                        <td colspan="2">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                            <strong>
                                <%- basarili %> 
                            </strong>
                          </td>
                    </tr>
                    <% } %>
                    
            <% if (!basarili) { %> <!-- Parola değiştirlemediyse burası çalışır -->
                <tr>
                    <td>
                        <label for="">Email girin:</label>
                    </td>
                    <td>
                        <input type="email" name="email" value="<%- typeof email !== 'undefined' ? email : '' %>" id="" placeholder="example@gmail.com">
                    </td>
                </tr>
                <% if (yeniPencere) { %> <!-- Kullanıcının girdiği email bilgisi db de kayıtlı ise burası çalışır -->
                    <tr>
                        <td>
                            <label for="">Yeni Şifrenizi Girin:</label>
                        </td>
                        <td>
                            <input type="password" name="sifre" id="" placeholder="password">
                        </td>
                    </tr>
                <% } %>
                <tr>
                    <td colspan="2">
                        <button type="submit">Şifre Sıfırla</button>
                    </td>
                </tr>
            <% } %>
            <tr>
                <td colspan="2">
                    <a href="/login">Giriş Yap ? </a> <!-- Forget Password sayfasından Login sayfasına gidecek link  -->
                </td>
            </tr>
        </form>
    </table>

</body>
</html>
